<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-4">
    <div class="welcome">
        <h1 th:text="#{base_err_message}">Ops</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4" th:text="#{return_to_home_page}"></p>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>

