<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <form class="welcome login"
          th:action="@{/add-plant}"
          th:method="POST"
          enctype="multipart/form-data"
          th:object="${addPlantDTO}">

        <div class="form-group">
            <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Plant</span></h1>
            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="plantName" class="h3 mb-2">Plant name</label>
            </div>
            <input  th:field="*{name}"
                    type="text"
                    class="form-control"
                    id="plantName"
                    name="plantName"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="plantFamily" class="h3 mb-2">Plant Family</label>
            </div>
            <select id="plantFamily" class="form-control" name="plantFamily">
                <option value="">- Select plant family -</option>
                <option th:each="name: ${plantNames}"
                        th:value="${name}"
                        th:text="${name}">
                    IMAGINARY NAME
                </option>
            </select>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="sunRequirements" class="h3 mb-2">Sun Requirements</label>
            </div>
            <select id="sunRequirements" class="form-control" name="sunRequirements">
                <option value="">- Select sun requirement -</option>
                <option th:each="sunReq: ${sunRequirements}"
                        th:value="${sunReq}"
                        th:text="${sunReq}">
                    IMAGINARY REQUIREMENTS
                </option>
            </select>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="minSpacing" class="h3 mb-2">Min spacing (cm)</label>
            </div>
            <input  type="number"
                    class="form-control"
                    id="minSpacing"
                    name="minSpacing"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="maxSpacing" class="h3 mb-2">Max spacing (cm)</label>
            </div>
            <input  type="number"
                    class="form-control"
                    id="maxSpacing"
                    name="maxSpacing"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="information" class="h3 mb-2">Information</label>
            </div>
            <textarea type="number"
                      class="form-control"
                      id="information"
                      name="information"
                      rows="10"
                      cols="2">
            </textarea>
        </div>

        <div class="form-group mb-3">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="image" class="h3 mb-2">Upload image</label>
            </div>
            <input type="file"
                      class="form-control form-control-sm"
                      id="image"
                      name="image"
                      accept="image/*"
                      >
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit">Add plant</button>
        </div>

    </form>
</main>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>