<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <form class="welcome login"
          th:action="@{/attempts/add}"
          th:method="POST"
          enctype="multipart/form-data"
          th:object="${plantingAttemptDTO}">

        <div class="form-group">
            <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark mb-3">Add Attempt</span></h1>
            <select id="plant" class="form-control" name="plant">
                <option value="">- Select plant -</option>
                <option th:field="*{plant}"
                        th:each="name: ${plantNames}"
                        th:value="${name}"
                        th:text="${name}">

                    IMAGINARY NAME
                </option>
            </select>
        </div>

        <div class="form-group">

            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="variety" class="h3 mb-2">Variety</label>
            </div>
            <input  th:field="*{variety}"
                    type="text"
                    class="form-control"
                    id="variety"
                    name="variety"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label th:for="plantingDate" class="h3 mb-2">Planting date</label>
            </div>
            <input  type="date"
                    class="form-control"
                    id="plantingDate"
                    name="plantingDate"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="seedInfo" class="h3 mb-2">Seed info</label>
            </div>
            <textarea class="form-control"
                      id="seedInfo"
                      name="seedInfo"
                      rows="5"
                      cols="2">
            </textarea>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="seedlingInfo" class="h3 mb-2">Seedling info</label>
            </div>
            <textarea class="form-control"
                      id="seedlingInfo"
                      name="seedlingInfo"
                      rows="5"
                      cols="2">
            </textarea>
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit">Add plant</button>
        </div>

    </form>
</main>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>