<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-5">

    <section class="plant-container pt-3 pb-3 justify-content-center" style="display: flex">
            <a href="/" class="main-btn p-3" >
                <div class="box">
                    <img src="/images/core/plant.png" height="150" alt="">
                    <h3>Plants</h3>
                </div>
            </a>
        <a href="/" class="main-btn p-3" >
            <div class="box">
                <img src="/images/core/plantFamilies.png" height="150" alt="">
                <h3>Plant Families</h3>
            </div>
        </a>
        <a href="/" class="main-btn p-3" >
            <div class="box">
                <img src="/images/core/plantingAttempts.png" height="150" alt="">
                <h3>My Planting Attempts</h3>
            </div>
        </a>
        <a href="/" class="main-btn p-3" >
            <div class="box">
                <img src="/images/core/profile.png" height="150" alt="">
                <h3>My Profile</h3>
            </div>
        </a>
    </section>
        <section>
        <div>
            <h4>Времето в Пловдив</h4>
            <h4><span id="box-a-temp">15</span><span>&#8451;</span></h4>
            <img id="box-a-img" src="/images/sun.png" height="150px" alt="">
        </div>
        </section>


</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>