<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-5 pt-0 container">


    <div class="row no-gutters">
    <section class="plant-container justify-content-center col-3">
            <a th:href="@{/plants}" class="main-btn p-3"  >
                <div class="box">
                    <img src="/images/core/plant.png" height="96" alt="">
                    <h3 th:text="#{home_plants}"></h3>
                </div>
            </a>
        <a th:href="@{/plantFamilies}" class="main-btn p-3" >
            <div class="box">
                <img src="/images/core/plantFamilies.png" height="96" alt="">
                <h3 th:text="#{home_plantFamilies}"></h3>
            </div>
        </a>
        <a th:href="@{/attempts/all/{username}(username = ${#authentication.getName()})}" class="main-btn p-3">
            <div class="box">
                <img src="/images/core/plantingAttempts.png" height="96" alt="">
                <h3 th:text="#{home_myPlantingAttempts}">My Planting Attempts</h3>
            </div>
        </a>
    </section>
        <section class="col-8 plant-container mr-4 justify-content-center">
        <div th:object="${currentWeatherDTO}" style="color: #b5d8f1; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
            <h3 class="p-4" th:text="#{home_weather_in_Plovdiv}">Времето в Пловдив</h3>
            <img id="box-a-img" th:src="*{imageUrl}" height="35%" alt="weather image">
            <h3 class="p-4"><span th:text="*{temperature}" id="box-a-temp">15</span><span>&#8451;</span></h3>
            <h3 class="p-2" th:text="#{home_rain_chance} + ' ' + *{rain} +'%'" ></h3>
            <h3 class="p-2" th:text="#{home_wind_speed}+' '+ *{windSpeed}"></h3>
            <h5 class="p-2 mt-2" th:text="#{home_last_update} + ' ' + *{time}"></h5>

        </div>
        </section>
    </div>


</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>