<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-5">
<!--    <div class="container bg-blur rounded mt-5 ">-->
    <div class="welcome">
        <h1 th:text="#{index_welcome}">Welcome to PlantMe App</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4" th:text="#{index_description}"></p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="primary-text" th:href="@{/users/login}" th:text="#{nav_bar_login}">Login</a>
            <span th:text="#{index_login_if}">if you have an account or</span>
            <a class="primary-text" th:href="@{/users/register}" th:text="#{nav_bar_register}">Register</a>
            <span th:text="#{index_register_now}">now and check our plants.</span>
        </h3>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>