<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
    <div class="welcome">
        <h1>Failed to log in our site.</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Wrong username or password</p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="primary-text" th:href="@{/users/login}">Try again</a>
            if you have an account or
            <a class="primary-text" th:href="@{/users/register}">Register </a>
            now.
        </h3>
    </div>
    <footer th:replace="fragments/commons::footer"></footer>
</body>

</html>

