<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-5">

    <h1 class="primary-text text-center pb-4" th:text="#{plant_families}">Plant Families</h1>
    <hr class="my-3 bg-white w-75"/>

    <div class="d-flex flex-wrap">

        <div th:each="plantFamily : ${allPlantFamilies}"
             class="plant-container text-center mt-5 mb-5" style="max-width: 780px; max-height: 560px">
            <div style="max-height: 80%; overflow: hidden">
                <img style="border-radius: 6px; object-fit: cover"
                     th:src="${plantFamily.imageUrl}"
                     alt="Plant image"
                     class="img-fluid"
                >
            </div>

            <div class="d-flex justify-content-between pr-4 pl-4 w-100">
                <h3 class="primary-text pt-4 pb-4"
                    th:text="${plantFamily.name} + '(' + ${plantFamily.alias} + ')'"></h3>
                <a th:href="@{/plant-family/{id}(id=${plantFamily.id})}">
                    <h3 class="white-blue-text pb-4 pt-4" th:text="#{learn_more}"></h3>
                </a>
            </div>

        </div>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>