<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-5">
    <h1 class="primary-text text-center m-3 p-4" th:text="#{browse_plants}">Browse Plants</h1>
    <hr class="my-3 bg-white w-75"/>
    <div class="p-4 mt-5 text-center justify-content-center d-flex plant-container" id="homePlantContainer">
        <a class="card m-2" style="max-width: 15%; background-color: darkslategray;" th:each="plant : ${allPlants}" th:href="@{/plants/{id}(id=${plant.id})}">
            <!--<div  class="card m-2"  style="background-color: antiquewhite;">-->
            <img th:src="${plant.imageUrl}" class="card-img-top" alt="Plant image">
            <div class="card-footer ">
                <h5 class="card-title " th:text="${plant.name}">Card title</h5>
                <!--</div>-->
            </div>
        </a>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>