<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="m-5">

    <h1 class="primary-text text-center m-3 p-3" th:text="${currentAttempt.variety}">Plant name</h1>
    <hr class="my-3 bg-white w-50"/>
    <div class="row plant-container justify-content-between primary-text mt-5 p-4">

        <div class="col-4">
            <img style="border-radius: 6px" th:src="${forImg.imageUrl}" class="img-fluid" alt="Plant image">
            <div class="mt-3">
                <p th:text=" #{planting_date} +' '+ ${currentAttempt.plantingDate}"></p>
                <p th:if="${currentAttempt.seedInfo != ''}" th:text="#{seed_info} + ': ' + ${currentAttempt.seedInfo}"></p>
                <p th:if="${currentAttempt.seedlingInfo != ''}" th:text="#{seedling_info} + ': ' + ${currentAttempt.seedlingInfo}"></p>
                <form th:action="@{/attempts/{username}/{id}(id = ${currentAttempt.id}, username = ${currentAttempt.username})}"
                      th:method="DELETE"
                      th:if="${user.username} == ${currentAttempt.username} or ${#authorization.expression('hasRole(''ADMIN'')')}">
                    <button class="btn btn-danger mt-3 "  type="submit" th:text="#{delete}"></button>
                </form>
            </div>
        </div>

        <div class="col-8" style="overflow-y: auto; scrollbar-color: rgb(84 91 98 / 40%) rgb(84 91 98 / 10%)">
            <p th:text="${currentAttempt.mainInfo}" style="max-height: 350px"></p>
        </div>
    </div>

    <h3 class="m-4 white-blue-text text-center" th:text="#{comments}"></h3>

    <div class="row plant-container justify-content-between primary-text mt-3 p-4">

        <div class="d-flex flex-wrap w-100 text-left"
             th:each="comment: ${comments}">
            <h5 class="col-6" style="float: left" th:text="${comment.owner.firstName} + ' ' + ${comment.owner.lastName}"></h5>
            <p class="col-6 text-right" th:text="${comment.datePublished}"></p>
            <p class="col-11 " th:text="${comment.text}"></p>

            <form th:action="@{/comments/{username}/{id}(username = ${comment.owner.username}, id = ${comment.id})}"
                  th:method="DELETE"
                  th:if="${user.username} == ${comment.owner.getUsername()} or ${#authorization.expression('hasRole(''ADMIN'')')}">
                <button class="btn btn-danger mt-3 "  type="submit" th:text="#{delete}"></button>
            </form>
            <hr class="my-3 bg-white w-100"/>
        </div>

        <form class="w-100 mt-4" th:action="@{/attempts/{id}/add-comment(id = ${currentAttempt.id})}"
              th:method="POST"
              th:object="${addCommentDTO}">

            <label class="h3" th:for="text" th:text="#{leave_comment}"></label>
            <textarea
                    class="form-control"
                    placeholder="Place your comment here ..."
                    th:errorclass="is-invalid"
                    required
                    minlength="5"
                    maxlength="1200"
                    id="text"
                    name="text"
                    rows="6"
                    cols="2"></textarea>
            <small th:errors="*{text}" class="text-danger">Text error</small>

            <button class="btn btn-secondary mt-3" style="float: right" type="submit" th:text="#{post_comment}"></button>
        </form>

    </div>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>