<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="primary-text text-center m-3 p-4" th:text="${plantFamilyDetails.name} +
    ' (' + ${plantFamilyDetails.alias} + ')'">Browse Plants</h1>
    <div class="d-flex flex-wrap m-5 mt-0 pt-4 pb-4 plant-container primary-text">
        <div class="col-6">
            <img style="border-radius: 6px"
                 th:src="${plantFamilyDetails.imageUrl}"
                 class="img-fluid" alt="Plant image">
        </div>

        <div class="col-6">
            <p th:text="${plantFamilyDetails.information}"></p>

            <form th:action="@{/plant-family/{id}(id = ${plantFamilyDetails.id})}"
                  th:method="DELETE"
                  sec:authorize="hasRole('ROLE_ADMIN')">
                <button class="btn btn-danger mt-3 "  type="submit" th:text="#{delete}"></button>
            </form>
        </div>


    </div>

    <h3 class="text-center white-blue-text m-3" th:text="#{plants_from_family}"></h3>

    <div class="row plant-container justify-content-between primary-text mt-3">
        <div class="col-12">
            <div class="d-flex">
                <a class="card m-2" style="width: 200px; max-height: 200px; background-color: darkslategray;"
                   th:each="plant : ${PlantFamilyMembers}"
                   th:href="@{/plants/{id}(id=${plant.id})}">
                    <div class="h-75" style="object-fit: scale-down; overflow: hidden">
                        <img style="height: 100%" th:src="${plant.imageUrl}" alt="Plant image">
                    </div>
                    <div class="card-footer h-25">
                        <h5 class="card-title " th:text="${plant.name}">Card title</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>